<div>
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/assets/neotec.png" width="230" height="45" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto navBar">
            <li class="nav-item active" style="padding: 0.5rem 0rem 0rem 4rem;">
              <a class="nav-link" href="#/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="padding: 0.5rem 0rem 0rem 4rem;">
              <a class="nav-link" href="#/quem-somos">Quem Somos</a>
            </li>
            <li class="nav-item" style="padding: 0.5rem 0rem 0rem 4rem;">
              <a class="nav-link" href="#/nossos-servicos">Nossos Serviços</a>
            </li>
            <li class="nav-item" style="padding: 0.5rem 0rem 0rem 4rem;">
              <a class="nav-link" href="#/contato">Contato</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <router-outlet></router-outlet>

    <div style="margin-top: 10px;">
      <div class="col-xs-12 col-sm-12" style="text-align: center;">
        <span>Copyright © All Right Reserved</span>
      </div>
    </div>
  </div>
</div>