<div class="col-sm-12">
    <div class="img">
        <div style="padding: 10rem 1rem 4rem 5rem;">
            <div class="text">
                <p>Especialistas</p>
                <p>em Reparo e Manutenção</p>
                <p>de equipamentos eletrônicos</p>
            </div>
            <div class="row" style="padding: 2rem 0rem 0rem 0rem;">
                <button (click)="whatsapp()" class="btn btn-success">Chame no WhatsApp</button>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 100px; justify-content: center;">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="dividir1"></div>
                        <div class="col-sm-11">
                            <b>Reparos de equipamentos</b>
                            <p class="texto">A neotec trabalha com reparos e manutenção em equipamentos
                                eletrônicos,
                                domésticos e
                                TI.
                                Atendemos a todas as marcas e modelos, existentes no mercado</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="row">
                        <div class="dividir2"></div>
                        <div class="col-sm-11">
                            <b>Equipamentos</b>
                            <p class="texto">* Equipamentos TV's</p>
                            <p class="texto">Plasma, LCD, LED e OLED;</p>
                            <p class="texto">* Equipamentos domésticos</p>
                            <p class="texto">Forno, Microondas, Cafeteira, Aspirador, Chapinha, Secador e
                                outros;
                            </p>
                            <p class="texto">* Equipamentos TI</p>
                            <p class="texto">Computadores, Notebook, Macbook, Monitor;</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="dividir2"></div>
                        <div class="col-sm-10">
                            <b>Reparamos</b>
                            <p class="texto">Samsung | LG | AOC | Philco | Philips | Acer | CCE</p>
                            <p class="texto">Entre muitas outras</p>
                        </div>
                        <div class="dividir3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 70px; background-color: #021D38; margin-top: 80px;">
        <div class="col-xs-12 col-sm-6">
            <b style="color: #FFF;">Sobre nós</b>
            <p class="texto" style="color: #FFF;">A neotec trabalha com reparos e manutenção em equipamentos
                eletrônicos,
                domésticos e TI.
                Atendemos a todas as marcas e modelos, existentes no mercado</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <b style="color: #FFF;">Contato</b>
            <p class="texto" style="color: #FFF;">+55 (61) 3522-1104</p>
            <p class="texto" style="color: #FFF;">+55 (61) 99258-0149</p>
            <p class="texto" style="color: #FFF;">eletroplasmadigital@hotmail.com</p>
            <p class="texto" style="color: #FFF;">Av. das Castanheira.920 ed.ônix Bloco C loja 02 / 03 Térreo -
                Águas
                Claras, Brasília - DF, 71900-100</p>
        </div>
    </div>
</div>